div.banner__160x600
  div.banner__logo
  div.banner__splash
    div.splash
      div.splash__inner
        div.splash__line1 Spar 50%
        div.splash__line2 299,-
  a.banner__teaserlink(href="http://google.dk", target="_blank") Se alle tilbudene lige her
  div.banner__footer
    div.banner__footerlogo

div.banner__930x600
  div.arrow(onclick="window.banner.switchSlide(-1)")
  div.arrow.arrow--right(onclick="window.banner.switchSlide(1)")
  div.banner__logo
  div.banner__splash
    div.splash
      div.splash__inner
        div.splash__line1 Spar
        div.splash__line2 50%
  div.banner__categories
    div.banner__category
      div.checker
        div.checker__box
          input(type="checkbox", checked="checked", onclick="window.banner.categoryChange('women', this)")
          div.checker__ui
        div.checker__text Damesko
    div.banner__category
      div.checker
        div.checker__box
          input(type="checkbox", checked="checked", onclick="window.banner.categoryChange('men', this)")
          div.checker__ui
        div.checker__text Herresko
    div.banner__category
      div.checker
        div.checker__box
          input(type="checkbox", checked="checked", onclick="window.banner.categoryChange('children', this)")
          div.checker__ui
        div.checker__text Børnesko

  div.banner__slides

  div.banner__productinfo
    div.rte
      img(src="http://placehold.it/130x21")
      div.rte__headline 299,-
      p.rte__tiny
        | 7282828282 · Damestr
        br
        | Normalpris 399,-
      a.btn Se detaljer her
      a.btn Se flere tilbud
  div.banner__footer
    div.banner__footerlogo
    div.banner__thumbs
      div.arrow.arrow--white(onclick="window.banner.switchThumb(-1)")
      div.arrow.arrow--right.arrow--white(onclick="window.banner.switchThumb(1)")
