extends ../master


block append head

block append body

block append content

	iframe.overview__iframe(src="320x50_1.html", width="320", height="50", scrolling="no", frameborder="0")
	iframe.overview__iframe(src="320x160_1.html", width="320", height="160", scrolling="no", frameborder="0")
	iframe.overview__iframe(src="320x320_1.html", width="320", height="320", scrolling="no", frameborder="0")

	br

	iframe.overview__iframe(src="320x50_2.html", width="320", height="50", scrolling="no", frameborder="0")
	iframe.overview__iframe(src="320x160_2.html", width="320", height="160", scrolling="no", frameborder="0")
	iframe.overview__iframe(src="320x320_2.html", width="320", height="320", scrolling="no", frameborder="0")
