doctype html
html(data-ng-app="tilbudswizard", lang="da")
	head
		title Banner View
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//link(rel='stylesheet', href='./css/overview.css')
		//link(rel='stylesheet', href='./css/main.css')
		// Main app js
		block head
		// Fonts

	body.overview
		block body

		block glovalVars

		block content
